@import url('http://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body{
font-family: 'Rock Salt', cursive;
color:white;
background-color:#000;
}
h2{
  font-weight:bolder;
}
.body{
font-family: 'Rock Salt', cursive;
color:white;
}
.modalcard{
background-color:rgba(10,10,10,0.8);
color:white;
padding:3%;
border:none;
}
.card-img {
width: 100%;
height: 100%;
object-fit: cover;
}
.cat{
float:center;
background:gray;
padding:4px;
border-radius:6px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.boded{
padding-top:2%;
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.navbar a{
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:1px 1px 32px;
  padding-left: 2%;
}
