{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
<nav class="navbar navbar-expand-lg">
<div id="mySidenav" class="sidenav">
<div class="col-sm-4 col-md-4 navbar-left">
  <form class="form-inline my-2 my-md-0"  action="/search" role="search">
    <input class="form-control mr-sm-2" type="search" placeholder="Category Search" name="imagesearch" aria-label="Search">
    <button class="btn btn-info btn-md my-2 my-sm-0" type="submit">Search</button>
  </form>
<div class="sidenav bg-transparent">
  <a href="#kenya">KENYA</a>
  <a href="#ethiopia">ETHIOPIA</a>
  <a href="#canada">CANADA</a>
  <a href="#alaska">ALASKA</a>
  <a href="#tanzania">TANZANIA</a>
</div>
</div>
</div>
<div class="container-fluid boded" id="b">
<div class="container">
<div class="row">
<div class="card-columns">
  {% for item in pictures %}
  <div class="card" data-toggle="modal" data-target="#{{item.id}}">
    <img src="{{item.image_link.url}}" alt="{{item.name}}" class="card-img">
      <div class="modal fade " id="{{item.id}}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content modalcard">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageheader">{{item.name}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      <button>
                   </div>
                <div class="modal-body">
                    <img src="{{item.image_link.url}}" alt="{{item.name}}" class="img-fluid">
                    <p class="imgdesc text-center">{{item.description}}</p>
                      <span class="btn btn-sm btn-outline-success">{{item.category}}</span> <b
                      href="/location/{{item.location}}" class="btn btn-sm btn-outline-info">{{item.location}}</b>
                </div>
                <div class="modal-footer">
                    <input class="form-control input-lg" type="text"
                    value="{{item.image_link.url}}" id="{{item.id}}image_link.url">
                    <button class="btn btn-success btn-sm" onclick="copyLink('{{item.id}}image_link.url')">Copy</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
        </div>
   {%endfor%}
 </div>
 </div>
</div>
{% endblock %}
