{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid" id="first">
<nav class="sidenav">
<div id="mySidenav" class="sidenav col-sm-4 col-md-4 navbar-left">
<div class">
  <form class="form-inline my-2 my-md-0"  action="{% url 'search' %}" role="search">
    <input class="form-control mr-sm-0" type="search" placeholder="Search by category" name="imagesearch" aria-label="Search">
    <button class="btn btn-info btn-md my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br>
  <br>
<div class="sidenav bg-transparent">
  {% for item in locations %}
  <a href="/location/{{item.name}}">{{item.name}}</a>
  {% endfor %}
      </div>
   </div>
  </div>
  </nav
</div>
<div class="container-fluid">
<div class="container">
<h2> ALL GALLERY</h2>
<div class="card-columns">
<div class="row">
{% for item in pictures %}
  <div class="col-12">
  <div class="card" data-toggle="modal" data-target="#{{item.id}}">
    <img src="{{item.image_link.url}}" alt="{{item.name}}" class="card-img">
      <div class="modal fade " id="{{item.id}}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content modalcard">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageheader">{{item.name}}</h5>
                     </div>
                <div class="modal-body">
                    <img src="{{item.image_link.url}}" alt="{{item.name}}" class="img-fluid">
                    <p class="imgdesc text-center">{{item.description}}</p>
                      <span class="btn btn-sm btn-outline-success">{{item.category}}</span> <b
                      href="/location/{{item.location}}" class="btn btn-sm btn-outline-info">{{item.location}}</b>
                </div>
                <div class="modal-footer">
                    <input class="form-control input-lg" type="text"
                    value="{{item.image_link.url}}" id="{{item.id}}image_link.url">
                    <button onclick="myFunction()" onmouseout="outFunc()" data-toggle="tooltip" title="copied!">Copy text</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     {%endfor%}
    </div>
   </div>
  </div>
  {% endblock %}
