{% extends 'layout.html' %}
{% block content %}
<div class="container">
<div class="block">
<div class="row">
{% if results %}
<h2 class="text-center" id="found">Found {{ pictures|length }} images in '{{message}}' category</h2>
{% else %}
<h2 class="text-center" id="foundnon"> Found 0 images for your search {{message}}</h2>
{% endif %}
</div>
   <div class="row">
       <div class="gallery">
           {% if results %} {% for item in results %}
           <div class="gallery-item" tabindex="0">
               <img src="{{item.image_link.url}}" class="gallery-image" alt="">
               <div class="gallery-item-info">
                   <ul>
                      </ul>
               </div>
           </div>
           {% endfor %} {% endif %}
       </div>
   </div>
</div>
{% endblock %}
