{% extends 'layout.html' %}
{% block content %}
<div class="container">
<div class="block">
<div class="row">
{% if results %}
<h2 class="text-center" id="found">Found {{ results|length }} for images in '{{message}}' category</h2>
{% else %}
<h2 class="text-center" id="foundnon"> 0 images results found for {{message}}</h2>
{% endif %}
</div>
   <div class="row">
       <div class="gallery">
           <div class="card-columns">
           <div class="row">
             {% if results %} {% for item in results %}
             <div class="col-12">
             <div class="card" data-toggle="modal" data-target="#{{item.id}}">
               <img src="{{item.image_link.url}}" alt="{{item.name}}" class="card-img">
                 <div class="modal fade " id="{{item.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                     <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                       <div class="modal-content modalcard">
                           <div class="modal-header">
                               <h5 class="modal-title" id="imageheader">{{item.name}}</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 <button>
                              </div>
                           <div class="modal-body">
                               <img src="{{item.image_link.url}}" alt="{{item.name}}" class="img-fluid">
                               <p class="imgdesc text-center">{{item.description}}</p>
                                 <span class="btn btn-sm btn-outline-success">{{item.category}}</span> <b
                                 href="/location/{{item.location}}" class="btn btn-sm btn-outline-info">{{item.location}}</b>
                           </div>
                           <div class="modal-footer">
                               <input class="form-control input-lg" type="text"
                               value="{{item.image_link.url}}" id="{{item.id}}image_link.url">
                               <button class="btn btn-success btn-sm" onclick="copyLink('{{item.id}}image_link.url')">Copy</button>
                               <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                                 </button>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                {%endfor%}{% endif %}
               </div>
              </div>
             </div>
          </div>
   </div>
</div>
{% endblock %}
